body{
    font-family: 'Roboto', sans-serif;
    color:  rgb(0, 0, 0);
    overflow: auto;

}

a:link, a:active, a:visited{
    color: #1080f0;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* grid 960px */
.linha{
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}

.coluna{
    padding: 0 10px;
    float: left;
}
.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.conteudo img{
    width: 40%;
    margin: auto;

}

.linha-imagens{
    height: 300px;
    width: 900px;
    display: flex;
    flex-direction: row;
}

.linha-imagens a {
    width: 1000px;
    height:300px;

}
.linha-imagens a img{
    width: 293px;
    height:238px;
}




.col1{
    width: 60px;
}
.col2{
    width: 10px;
    margin-left: 20px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
    margin-left: 350px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}

/*Estilos reutilizáveis*/
.sem-padding{
    padding: 0 !important;
}
.contatos-uteis{
    
        color: rgb(0, 0, 0);
        background-color: darkgrey;
    
}
.festival-da-esm{
    color: rgb(255, 251, 0);
    background-color: darkgrey;
}

.sem-margin{
    margin: 0 !important;
}
.convidados{
    color: rgb(63 255 0);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 15px 0 10px 0;
}

ul li, ol li{
    margin-bottom: 5px;
}
.quadrado-cima,.quadrado-baixo{
   
   display: flex;
   flex-direction: row;
   width: 100%;
}
.quadrado-cima div ,.quadrado-baixo div{
    margin-right: 10px;
   
 }

.quadrado-cima img, .quadrado-baixo img{
    width: 961px;
    height: 200px;
    margin-right: 10px;
}
.quadrado-cima{
    margin-top: 180px;
}
    
    

ul.inline li, ol.inline li{
    display: inline;
    margin-left: 15px;
}

ul.inline li:last-child, ol.inline li:last-child{
    margin-left: 15px;
}
ul.sem-marcador, ol.sem-marcador{
    list-style: none;
}
a.botao, input.botao{
    background: #1f3c58;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ebebeb;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    border: none;
}
a.botao:hover, input.botao:hover{
    background: #315e8a;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*Layout do site*/
.header{ 
    width: 100%;
    background: #dee3e6;
}
.header .linha{
    margin-left: 0;
    width: 100%;
}
header{
    display: flex;
    flex-direction: row;
}
header nav{
    margin-left: auto;
    margin-right: 10px;

}

.logo{
    margin-left: 20px;
    font-weight: 500;
    color: #007bff;
    letter-spacing: -1px;
}
.conteudo .logo{
    font-size: 50px;
}
.conteudo-extra{
    background: #f1f2ea;
}

.footer{
    background: #96999c;
    color: #ededed;
    padding: 20px 0;
    text-align: left;
    font-weight: 100;
    
}

.menu{
    text-transform: uppercase;
    text-align: right;
    margin-top: 25px;
}

.menu li a{
    padding: 5px 10px;
    border-radius: 3px;
}

.menu li a:hover{
    text-decoration: none;
    background: #1f3c58;
    color: #ebebeb;
}

ul.noticias li{
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}


ul.noticias li img{
    width: 70px;
    height: auto;
    margin-right: 10px;
    float: left;
}

ul.noticias li h4{
    margin: -2px 0 5px 0;
    font-weight: 500;
}

ul.noticias li p{
    margin: 5px 0;
    font-weight: 300;
}

ul.noticias li p a{
    font-weight: 500;
}

.contato label{
    display: block;
    font-size: 13px;
    font-weight: 300;
}

.contato input, .contato textarea{
    display: block;
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 96%;
}

.contato textarea{
    height: 150px;
}

.contato input.botao{
    width: auto;
}
.creditos{
    color: rgb(1, 77, 7);
}






* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  
  .content {
      width: 100%;
      height: 100%;
    position: fixed;
    bottom: 0;
    overflow: auto;
  }

  .video-button{
    display: flex;
    flex-direction: row;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
  }

  .video-button p{
      margin-left: 10px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }